/* shared style */
.black-gray{
  background-color: rgba(17, 17, 17, 1);
  }
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.white{
    color:rgba(255, 255, 255, 1);
}
.gray{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
    font-size: 0.85rem;
}
.orange{
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}
.radius{
    border-radius: 3rem;
    padding: 0.45rem;
    
}

body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow-x: hidden;

}
/* navigation */
.brand-name,.navbar,.nav-item{
    list-style: none;
}
.fitness{
    color: rgba(230, 83, 60, 1);
    margin-top: 1rem;
}
nav{
    padding-top: 1rem;
}
nav .navbar i{
    display: none;
}
.brand-name{
    justify-content: space-around;
}
.navbar{
    width: auto;
    gap: 3rem;
    text-align: center;
    border: 1px solid rgb(37, 33, 33);


}
.navbar .nav-item{
    padding: 1rem;
}
nav .fitness{
    font-size: 2rem;
    font-weight: 900;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-around;
}
.banner-title{
    width: 40%;

}
.banner-head{
    font-size: 5rem;
}

.descript{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}
.tap{
    padding: 1rem 2.9rem;
    border-radius: 2.6rem;
}
.buttons1{
    display: none;
}
.banner-img{
    transform: translateX(-6rem);
    max-width: 100%;
    
}
.banner-img img{
    max-width: 100%;
}
/* habits */
.habits{
    background-color: rgba(17, 17, 17, 1);
    
}
.habits-head{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    margin: 0;
    
}
.habits-title{
    width: 40%;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
    line-height: 1.2;
}
.habits-title h3{
    font-size: 1.2rem;
}
.habits-title p{
    font-size: 0.8rem;
}
.habits-type img{
    border-radius: 50%;

}
.habits-type{
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    grid: 1;
    align-items: center;
    margin: 0 10rem;

}
/* extra */
.extra{
    padding-top: 6rem;
}

.extra-part{

    background-color:rgba(34, 34, 34, 1);
    width: 55%;
     display: flex;
     border-radius: 1rem;
     margin: 0 auto;
     /* gap: 10rem; */
     
}
.extra-part h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.extra-work{
    width: 40%;
    margin: 0 auto;
    /* margin-right: 3rem; */
    margin-left: 3rem;
  
}
.extra-part .dif{
    display: none;
    padding: 0.5rem 0;
    width: 70%;
    margin: 0 auto;
}
.extra .pic{
    padding: 2.3rem;
    
}
.extra .pic img{
    border-radius: 1.4rem;
    max-width: 100%;
}
/* trainning */
.Training{
    height: auto;
}
.training-description{
    transform: translateX(16rem);
    padding: 3rem 0;
}
.training-description h1{
          font-size: 3rem;
          margin-top: 0;
          margin-bottom: 1rem;
}
.training-images {
    max-width: 70%;
    margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /* gap: 1.5rem; */
}

.training-images img {
  width: 100%;
  height: 8.5vh;
  object-fit: cover;
  display: block;
}
.img1{
    width: 230px;   
}
.img2{
    width: 500px;
}

.img3{
    width:270px;
}

.img4{ 
    width: 403px;
}

.img5{
    width:288px;
}

.img6{
    width: 313px;
}
/* BMI */
.topic{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}

.bmi-title{

    width: 50%;
    margin: 0 auto;
    padding: 4rem 0;
}


.bmi{
    background-color:  rgba(17, 17, 17, 1);
    width: 100%;
    
}
.bmi .bmi-measure{
    background-color:rgba(34, 34, 34, 1);
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
   
}
table{
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.5);
}


.bmi-chart h1{
    margin-top:0;
    margin-bottom: 1rem;
}
th{
    color: white;
    font-size: 1rem;
   
}
td{
    font-size: 0.8rem;
}
th,td{
    border: 1px solid rgb(41, 41, 41);
    text-align: center;
 width: 10rem;
 padding: 0.5rem 0;

}

.calculate-bmi{
  width: 30%;
   
}
.gender {
    width: 47%;
    border-radius: 8px;
   }
   .activity{
    width: 98%;
       border-radius: 8px;
   }
   form button{
    margin-top: 0.5rem;
   }
   .calculate-bmi input{
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 0.4rem 0;
    padding-left: 0.2rem;
   }
   select{
    padding: 0.4rem 0;
    padding-left: 0.2rem;
   }
   /* Team */
   .team{
    text-align: center; }
    .team h1{
        margin-top: 0px;
        padding-top: 2rem;
        font-size: 3rem;
        margin-bottom: 0;
    }
    .team p{
        margin-bottom: 2rem;
    }
    .team-member{
        grid-template-columns: repeat(3,1fr);
        width: 68%;
        margin: 0 auto;
        gap: 1rem;
    }
    .team-member .member-img img{
        border-radius: 1.1rem;
        width: 100%;
        height: 220px;
    }
    .member-img{
        position: relative;

    }
    .member-img h1{
        color: #fff;
        font-size: 1.4rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
    }
    .member-img span{
        color: rgba(255, 255, 255, 0.5);;
    }
    .member-details{
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;
    }





/* media query */
@media screen and (max-width:576px) {

    body{
        width: 100%;
        height: auto;
        
        
    }
    nav .navbar i{
        display: block;
        padding-top: 1rem;
    }
    nav .nav-item{
        display: none;

    }
    nav .brand-name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;

    }
    
    .banner{
        flex-direction: column;
    }
    .banner-title{
        max-width: 100%;
        width: 50%;
        margin-left: 1rem;
    }

    .banner-head{
        font-size: 2.4rem;
    }
    .buttons{
        display: none;
    }
    .buttons1{
        
        max-width: 576px;
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        
    
        display: block;
    
    }
    .buttons button{
        padding: 1rem 2.5rem;
        /* width: 100%; */
    }
    .banner-img{
        transform: translateX(0);
        max-width: 100%;
        display: block;
    }
    .habits-type{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        gap: 2;
    }
    .habits-title{
        width: 100%;
    }
    .habits-title p{
        padding: 0 1rem;
    }
    /* extra */
    .extra{
    padding-top: 6rem;
}

.extra-part{

    background-color:rgba(34, 34, 34, 1);
    width: 90%;
     display: flex;
     flex-direction: column;

     
     
}

.extra-part h1{
    font-size: 2rem;
  
}
.extra-part .dif{
    display: block;
    
}
.extra-work{
    width: 75%;
    margin: 0 auto;

  
}
.extra-work button{
    display: none;
}
/* training */
.img3,.img6{
    display: none;
}
.training-description{
    transform: translateX(0rem);
    padding: 3rem 0.9rem;
}
.training-description h1{

          font-size: 2rem;
          margin-bottom: 1rem;
}
.training-images {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

.training-images img {

  width: 100%;
  height: auto;
  border-radius: 20px;
  }

.img1{
    width: 100%;
     
}
.img2{
    width: 100%;
  
}
.img4{ 
    width: 100%;
}

.img5{
    width:100%;
    
}
/* BMI */
.topic{
    font-size: 1.5rem;}

.bmi-title p{
    font-size: 0.8rem;
}
.bmi-title{

    width: 80%;
    margin: 0 1rem;

}


.bmi-chart h1{
    font-size: 1.2rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
th{
    color: white;
    font-size: 0.8rem;}
td{
    font-size: 0.6rem;
   
}
th,td{
   width: 9rem;
   margin: 0 auto;
 }
.bmi .bmi-measure{
    width: calc(100% - 1rem);
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 2rem;
  }
.calculate-bmi{
  width: 95%;
   
}
.calculate-bmi h1{
    font-size: 1.25rem;
}
.calculate-bmi p{
    font-size: 0.85rem;
}
input[id="weight"]{
    width: 44%;
}
.gender {
    width: 44%;
   }
   .activity{
    width: 98%;
   }
   form button{
    margin-top: 0.5rem;
   }
   .calculate-bmi input{
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 0.4rem 0;
    padding-left: 0.2rem;
   }
   select{
    padding: 0.4rem 0;
    padding-left: 0.2rem;
   }
    /* Team */
    .team h1{
    
        font-size: 2rem;
        margin-bottom: 0;
    }
    .team p{
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    .team-member{
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    }
}
@media screen and (min-width:576px) and (max-width:1000px){
    .navbar{
        gap: 0rem;
    }
    nav .brand-name{
    justify-content: space-between;
    }
    .banner{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }
    .banner-title{
        width: 80%;
        font-size: ;
    }
    .banner .banner-head{
        font-size: 3.5rem;
    }
    .habits-type{
        grid-template-columns: repeat(2,2fr);
        gap: 3.5rem;
        align-items: center;
        justify-content: center;
    }
/* extra */


.extra-part{

    background-color:rgba(34, 34, 34, 1);
    width: 90%;
     display: flex;
     border-radius: 1rem;
     margin: 0 auto;
     /* gap: 10rem; */
     
}
.extra-part h1{
    font-size: 2.4rem;
    
}
.extra-work{
    width: 90%;
}
.extra-part .dif{
    display: none;
    padding: 0.5rem 0;
    width: 70%;
    margin: 0 auto;
}
.extra .pic{
    padding: 2.3rem;
    
}
.extra .pic img{
    border-radius: 1.4rem;
    max-width: 100%;
   
}
 /* traINING */
 .Training{
    display: none;
 }
 /* BMI */
.bmi .bmi-measure{
    width: calc(100% - 1rem);
    justify-content: space-evenly;
    padding-left: 1rem;
    gap: 2rem;
    align-items: center;
  }
  .calculate-bmi{
  width: 45%; }
  .calculate-bmi p{
    font-size: 0.85rem;
  }
  .topic{
    font-size: 2.5rem;
    } 
.bmi-title p{
    font-size: 0.8rem;
}
.bmi-title{

    width: 80%;
    margin: 0 auto;

}
 /* Team */
    .team h1{
        padding-top: 2rem;
        font-size: 2.2rem;
        margin-bottom: 0;
    }
    .team p{
        margin-bottom: 2rem;
    }
    .team-member{
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
    }